- display_basic ||= false
%li.box.box-brown[account_history]
  .cols{display_basic ? {} : {"data-click-toggle" => ".js-history-details-#{account_history.id}", class: "clickable"}}
    .col-one-third{class: account_history.amount_class}= account_history.display_amount
    .col-one-third.text-center
      - if display_basic
        = link_to account_histories_path(account_id: account_history.account_id, format: 'json'), "data-remote" => true, data: {remote_replace_left: ".sidebar-container"}, title: account_history.account_name do
          = account_history.account.truncated_name
          &raquo;
      - else
        = link_to "Details", "#", class: 'text-small js-prevent-default'
    .col-one-third.text-right{title: account_history.tooltip_date}= account_history.display_date

  .break{class: "js-history-details-#{account_history.id}", style: 'display: none;'}
    .break-small
    .break-small
      %span.bp-break-medium-large From:
      = link_to account_history.parent_path, "data-remote" => true, data: {remote_replace_left: ".sidebar-container"} do
        = account_history.name_with_type_and_price
        &raquo;
    - if account_history.description.present?
      .box.box-tan.box-no-shadow= account_history.description
    - if account_history.explanation.present?
      .box.box-green.box-no-shadow.mono-font= account_history.explanation
