.sidebar-container.box-content
  - if account.present?
    %h1
      .float-right{class: account.amount_class}= account.display_amount
      = account.name
  - if account_histories.present?
    %ul.tabs
      %li.tab-active= link_to "All", "#", class: "js-prevent-default"
      -#%li= link_to "Quick Funds", "#"
      -#%li= link_to "Income", "#"

    %ul.boxed-list
      = render account_histories

    = pagination(account_histories)
  .break
