%li
  = f.label :amount
  .field-prepend
    $
  = f.text_field :amount, class: 'field-small'
%li
  = f.label :applied_at, "Income Date"
  = f.text_field :applied_at, class: 'datepicker', placeholder: "Today", value: datepicker_date(income.applied_at)

%li
  = f.label :description
  = f.text_area :description
