- auto_open ||= nil
- highlight_history ||= nil
%li.box.box-brown[income]
  .cols{"data-click-toggle" => ".js-income-details-#{income.id}", class: "clickable"}
    .col-one-third{class: amount_class(1)}= income.display_amount
    .col-one-third.text-center
      = link_to "Details", "#", class: 'text-small js-prevent-default'
    .col-one-third.text-right{title: income.tooltip_date}
      = income.display_date

  .break{class: "js-income-details-#{income.id}", style: (auto_open == income.id ? '' : 'display: none;')}
    .break-small
    - if income.description.present?
      .box.box-tan.box-no-shadow
        = income.description

    .break-small
      .box.box-green.box-no-shadow
        %table
          %thead
            %tr
              %th
                Account
              %th.cell-collapse
                Amount
          %tbody
            = render partial: 'account_histories/for_income_table', collection: income.account_histories, as: :account_history, locals: {highlight_history: highlight_history}
