.sidebar-container.box-content[quick_fund]
  %h1
    .float-right{class: quick_fund.amount_class}= quick_fund.display_amount
    = quick_fund.name_with_type

  .break-small
    = link_to account_histories_path(account_id: account.id, format: :json), "data-remote" => true, data: {remote_replace_right: ".sidebar-container"}, class: "btn btn-green float-left", title: account.name do
      \&laquo;
      = account.truncated_name

  - if quick_fund.description.present?
    .box.box-tan.box-no-shadow= quick_fund.description

  %ul.boxed-list
    = render partial: quick_fund.account_histories, locals: {display_basic: true}

  .break
