!!!
%html
  %head
    %title Budgeteer
    %link{ href: 'http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic', rel: 'stylesheet', type: 'text/css' }
    %link{href: 'https://fonts.googleapis.com/css?family=Inconsolata', rel: 'stylesheet', type: 'text/css'}
    = stylesheet_link_tag "screen", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

    %meta{name: "viewport", content: "width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"}

  %body
    .container
      %header.break-small
        .float-right
          %span.tablet-visible
            = link_to '#', class: 'no-underline text-xxl', data: {click_toggle: ".js-category-sums"} do
              %i.fa.fa-bars
          - if current_user
            = link_to current_user.email, edit_user_path
            &nbsp;&nbsp;|&nbsp;&nbsp;
            = link_to "Logout", logout_path, "data-method" => "delete"
          - else
            = link_to "Login", session_path

        = flash_messages

    .container
      .js-category-sums.tablet-hide
        = render partial: 'category_sums/for_layout'

      -# TODO: These should probably be accounts/_header
      -# and incomes/_header, since they're starting to differ
      -# significantly from each other.
      %ul.tabs
        %li.accounts-tab{class: current_action?('accounts#index') ? 'tab-active' : nil}= link_to 'Accounts', accounts_path, {data: current_action?('accounts#index') ? {click_remove_element_class: ".js-account-accordion", click_remove_class_value: "tablet-hide", click_add_element_class: ".sidebar", click_add_class_value: "tablet-hide"} : {}}
        %li{class: current_action?('incomes#index') ? 'tab-active' : nil}= link_to 'Income', incomes_path

        -# Button that links to account history sidebar - tablet and smaller widths only.
        - if current_action?("accounts#index")
          %li.js-sidebar-tab.tablet-visible= link_to "Transactions", '#', {data: {click_add_element_class: ".js-account-accordion", click_add_class_value: "tablet-hide", click_remove_element_class: ".sidebar", click_remove_class_value: "tablet-hide"}}
      = yield
