.accordion-header.js-account{class: account.enabled? ? '' : 'account-disabled', data: {priority: account.priority, account_id: account.id, enabled: account.enabled?}}
  %h3= account.prioritized_name
  .float-right{class: account.amount_class}
    = account.display_amount
.accordion-content.js-account-content
  .cols
    .inner-left-col
      - if account.description.present?
        .box.box-tan
          = simple_format account.description

      %dl.properties.break-small
        %dt Negatives allowed?
        %dd No
        %dt Created on
        %dd= account.formatted_created_at

      = link_to 'Edit', '#', class: 'btn btn-blue'

    .inner-right-col
      %h4.text-right Quick Withdraw / Deposit
      %form.break-small
        %ul.fields.fields-small
          %li
            %label Amount
            %input{type: 'text'}
          %li
            %label Description
            %textarea

      .float-right
        %input{type: 'submit', value: 'Withdraw', class: 'btn btn-orange'}
        %input{type: 'submit', value: "Deposit", class: 'btn btn-green'}
