- edit_form ||= false
.accordion-header.js-account{class: account.enabled? ? '' : 'account-disabled', data: {priority: account.priority, account_id: account.id, enabled: account.enabled?}}
  %h3= account.prioritized_name
  .float-right{class: account.amount_class}
    = account.display_amount
.accordion-content.js-account-content
  .cols{class: "js-account-content-#{account.id}", style: edit_form ? "display: none;" : ""}
    .inner-left-col
      - if account.description.present?
        .box.box-tan
          = simple_format account.description

      %dl.properties.break-small
        %dt= account.negative_overflow_label
        %dd= account.negative_overflow_name
        %dt Created on
        %dd= account.formatted_created_at

      = link_to 'Edit', edit_account_path(account), class: 'btn btn-blue', data: {remote: true, remote_hide: ".js-account-content-#{account.id}", remote_content_append: ".js-account-content-#{account.id}"}

    .inner-right-col
      = render partial: 'quick_funds/form', locals: {account: account}
  - if edit_form
    = render partial: 'accounts/edit_form', locals: {account: form_account}
