= form_for account.model, format: 'json', remote: true, html: {class: 'js-update-account'} do |f|
  %ul.fields
    = render partial: 'accounts/form', locals: {f: f}
    %li
      %label
      = f.submit "Update", class: 'btn btn-green btn-mobile'
      = link_to "Cancel", '#', class: 'btn btn-red btn-mobile', data: {click_remove: "#edit_account_#{account.id}", click_show: ".js-account-content-#{account.id}"}
