%li
  = f.label :name
  = f.text_field :name
%li
  = f.label :description
  = f.text_area :description
%li
  = f.label :priority
  = f.text_field :priority, class: 'field-small'
%li
  = f.label :enabled
  = f.check_box :enabled
%li
  = f.label :negative_overflow_id, "Negative overflows into"
  = f.collection_select :negative_overflow_id, negative_overflow_options(f.object.id), :id, :name, include_blank: ">> Disallow Negatives"