%li
  = f.label :name
  = f.text_field :name
%li
  = f.label :description
  = f.text_area :description
%li
  = f.label :priority
  = f.text_field :priority, class: 'field-small'
%li
  = f.label :add_per_month, "Add Per Month"
  = f.select :add_per_month_type, [["$", {"data-hide" => ".js-monthly-cap", "data-clear-fields" => true}], ["%", {"data-show" => ".js-monthly-cap"}]], {}, "data-select-toggler" => true
  = f.text_field :add_per_month
%li.js-monthly-cap{style: f.object.percentage? ? '' : 'display:none;'}
  = f.label :monthly_cap, "Monthly Cap"
  .field-prepend
    $
  = f.text_field :monthly_cap
%li
  = f.label :annual_cap, "Annual Cap"
  .field-prepend
    $
  = f.text_field :annual_cap
%li
  = f.label :cap, "Account Cap"
  .field-prepend
    $
  = f.text_field :cap
%li
  = f.label :prerequisite_account_id, "Prerequisite"
  = f.collection_select :prerequisite_account_id, select_account_options(f.object.id), :id, :truncated_name, include_blank: "&mdash; None &mdash;".html_safe
%li
  = f.label :overflow_into_id, "Income overflows into"
  = f.collection_select :overflow_into_id, select_account_options(f.object.id), :id, :truncated_name, include_blank: "&mdash; None &mdash;".html_safe
%li
  = f.label :negative_overflow_id, "Negative overflows into"
  = f.collection_select :negative_overflow_id, negative_overflow_options(f.object.id), :id, :truncated_name, include_blank: "&mdash; Disallow Negatives &mdash;".html_safe
%li
  = f.label :enabled
  = f.check_box :enabled
