.container
  .content
    .js-account-accordion
      = render partial: 'accounts/new_account', locals: {account: @account}

      = render partial: 'accounts/account', collection: accounts

  .sidebar.box.box-grey
    %h1
      .float-left Savings Account
      .float-right.good $795.83
    %ul.tabs
      %li.tab-active= link_to "All", "#"
      %li= link_to "Quick Funds", "#"
      %li= link_to "Income", "#"

    %ul.boxed-list
      -# %li.box
      %li
        .col_one_third.bad ($233.99)
        .col_one_third
          .raise
            = link_to "#" do
              Quick Fund Withdrawal
              .bad ($499.99)
          .lower
            = link_to "Details", "#"
        .col_one_third
          %div{title: "Jan 8, 2014 8:34 AM"} Jan 8, 2014
        .box.box-tan
          Withdrew some money to pay for car repairs and eat a Llama.
